<% include partials/header %>

    <h1>landing.ejs page is working</h1>

    <div class="row gutters">
        <div class="col col-6">
            <p>insert login angular ejs</p>
        </div>
        <br>
        <div class="col col-6">
            <p>insert registration angular ejs</p>
        </div>
    </div>%>

    <% include partials/footer %>
