<% include partials/header %>

    <h1>landing.ejs page is working</h1>

    <div class="row gutters">
        <fieldset class="col col-6">
            <legend>Login data</legend>
            <div class="form-item">
                <label>Email</label>
                <input type="email" name="email">
            </div>
            <div class="form-item">
                <label>Password</label>
                <input type="password" name="password">
            </div>
        </fieldset>

        <fieldset class="col col-6">
            <legend>Registration</legend>
            <div class="form-item">
                <label>First Name</label>
                <input type="email" name="email">
            </div>
            <div class="form-item">
                <label>Last Name</label>
                <input type="password" name="password">
            </div>
            <div class="form-item">
                <label>Email</label>
                <input type="email" name="email">
            </div>
            <div class="form-item">
                <label>Password</label>
                <input type="password" name="password">
            </div>
        </fieldset>
    </div>
    <% include partials/footer %>
