<% include partials/header %>

    <h1>The login ejs is working</h1>

    <fieldset class="col col-6">
        <legend>Login data</legend>
        <div class="form-item">
            <label>Email</label>
            <input type="email" name="email">
        </div>
        <div class="form-item">
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <button class="button">Login</button>
    </fieldset>

    <% include partials/footer %>
