<% include partials/header %>

    <h1>registration.ejs</h1>

    <fieldset class="col col-6">
        <legend>Registration</legend>
        <div class="form-item">
            <label>First Name</label>
            <input type="email" name="first">
        </div>
        <div class="form-item">
            <label>Last Name</label>
            <input type="password" name="last">
        </div>
        <div class="form-item">
            <label>Email</label>
            <input type="email" name="email">
        </div>
        <div class="form-item">
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <button class="button">Submit</button>
    </fieldset>

    <% include partials/footer %>
